.u-section-1 .u-sheet-1 {
  min-height: 825px;
}

.u-section-1 .u-text-1 {
  margin: 32px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 77px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 21px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 35px auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: 24px 83px 0 0;
}

.u-section-1 .u-btn-1 {
  margin: 32px auto 0 0;
}

.u-section-1 .u-form-1 {
  height: 164px;
  margin: 24px 577px 50px -7px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 477px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 367px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 277px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    margin-right: 177px;
  }
}