.u-section-1 .u-sheet-1 {
  min-height: 284px;
}

.u-section-1 .u-text-1 {
  margin: 44px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 22px auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px auto 36px 0;
}.u-section-2 .u-sheet-1 {
  min-height: 139px;
}

.u-section-2 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-2 {
  margin-top: 20px;
  margin-bottom: 39px;
  margin-left: 0;
}.u-section-3 .u-sheet-1 {
  min-height: 819px;
}

.u-section-3 .u-text-1 {
  margin: 19px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 21px 0 0;
}

.u-section-3 .u-list-1 {
  margin-top: 25px;
  margin-bottom: 49px;
}

.u-section-3 .u-repeater-1 {
  min-height: 569px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 34px 34px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 0 62px 0 1px;
}

.u-section-3 .u-text-4 {
  margin: 15px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 25px auto 0 3px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  margin: 0 62px 0 1px;
}

.u-section-3 .u-text-6 {
  margin: 15px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 25px auto 0 3px;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  margin: 0 62px 0 1px;
}

.u-section-3 .u-text-8 {
  margin: 15px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 25px auto 0 3px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 660px;
}

.u-section-4 .u-text-1 {
  margin: 5px 718px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 22px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 18px auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 22px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-5 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 48px 806px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 518px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 606px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 298px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 386px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 118px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 206px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 6px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 400px;
}

.u-section-5 .u-text-1 {
  margin: 0 910px 0 0;
}

.u-section-5 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 710px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 490px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 310px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-right: 110px;
  }
}